*{
    margin: 0;
    padding: 0;
}
.container{
    .row{
        .col-lg-4{
            text-align: center;
            img{
                width: 50%;
            }
        }
        .col-lg-8{
            ul{
                width: 100%;
                list-style: none;
                background: rgba(128, 128, 128, 0.387);
                li{
                  
                    display: inline-block;
                    a{
                        display: block;
                        text-decoration: none;
                        padding: 5px 15px;
                        
                        color: black;
                        // font-weight: bold;
                        &:hover{
                            color: white;
                            background-image: -webkit-linear-gradient(left, rgba(255, 0, 0, 0.625), rgba(0, 0, 255, 0.625));
                        }
                    }
                }
            }
        }
    }
}